html,body{
				height: 100%;
				padding: 0px;
				margin: 0px;
				font-family: 'Montserrat', sans-serif;
			}


#details {
	float:left;
}

#title{
	background: #6775B8;
	font-size: 30px;
	font-weight: bold;
	color: #E0E0DF;
	text-align: center;
	height: 40px;
	padding: 20px;
	box-shadow: 0px 0px 75px #000000;
}

#sidebar {
	background: #21294B;
	float:left;
	height: 100%;
	box-shadow: 0px 0px 75px #000000;
}



#options{
	color: #E0E0DF;
	text-align: left;
	padding: 20px;
	font-size: 25px;
}

#map-canvas{
	background: yellow;
}

#graphArea {
	background: lightblue;
	float:left;
}

#plot{
	background: #5DBA4B;
}

.dropdown{
	font-size:17px;
}

.button{
	font-size:30px;
	padding:5px;
    background-color: #dcdcdc;
    border: 1px;
    border-style: solid;
    border-color: #e1e1e1;
    border-radius: 10px;
    color:#000;
    text-decoration:none;
}

.label{
	font-size:20px;
}

.form{
	font-size:17px;
}

.y.axis {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.x.axis path{
	display: none;
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.line{
	fill: none;
	stroke: "#90c6ee";
	stroke-width: 3;
	shape-rendering: crispEdges;
}

#play{
	height: 30px;
	width: 30px;
	padding: 5px;
	display: none;
}