html,body{
  font-family: 'Roboto-Light', sans-serif;
}

core-toolbar{
  background-color: #2196F3;
  color: #FFFFFF;
}

.title{
  text-align: center;
}

.selectedNumber{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #D32F2F;
  position: absolute;
  top: 100px;
  color: #FFFFFF;
  background-color: #FFC107;
}

.selectedNumber p{
  text-align: center;
  vertical-align: middle;
  font-size: 14em;
}

.mainBtn{
  text-align: center;
  vertical-align: middle;
  background-color: #8BC34A;
  color: #ffffff;
}

#generateBtn{
  top: 500px;
  left: 50%;
}

.numbers{
  margin: 2px;
  color: #FFFFFF;
  font-size: 2em;
  background-image: url('/img/not-used.svg');
  background-position: center;
  height: 65px;
  width: 65px;
}

.numbers p{
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
}

.currentNumber{
  position: absolute;
  top: 20%;
  left: 80%;
  font-size: 7em;
}

.numberContainer{
  margin-left: 10%;
}

paper-input{
  font-size: 1.4em;
}

.winners{
  position: absolute;
  width: 200px;
  top: -20%;
  right: 30%;
  float:right;
}
