@font-face{
    font-family: 'ArialRoundedBold';
    src: url('fonts/Arial Rounded MT Bold Bold.ttf');
}

body{
    margin: 0;
    padding: 0;
    background-color: #66CCEE;
    font-family: 'ArialRoundedBold';
}

a{
    text-decoration: none;
    color: white;
}
