html, body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.headerLink{
	font-size: 1em;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	color: #f6f7f7;
	text-decoration: none;
}

a{
	color: #f6f7f7;
	text-decoration: none;
}

.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}

.header > a:link{
	color: #f6f7f7;
	text-decoration: none;
}

.header > a:hover{
	color: #0c0c0c;
	text-decoration: none;
}

.headerBg{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 10%;
}

.footer{
	background-color: #dddddd;
	height: 20%;
	width: 100%;
}

.footerLink{
	
}

.heroBg{
	position: absolute;
	top: 0;
	left: 0;
	height: 60%;
	width: 100%;
}

.home.heroBg{
	background-color: #2fb0dd;		
}

.about.heroBg{
	background-color: #43bf64;
}

.blog.heroBg{
	background-color: #dd4b4b;
}

.portfolio.heroBg{
	background-color: #bcd646;
}

.contact.heroBg{
	background-color: #a846d1;
}

.pageTitle{
	padding-top: 10%;
	font-size: 3em;
	text-align: center;
}

.content{
	margin-top: 60%;
}