.company {
  margin-bottom: 160px;
}

.header {
  display: flex;
  margin-bottom: 20px;
}

.logo {
  width: 30px;
  max-height: 30px;
  margin-right: 15px;
}

.title {
  color: #ea5455;
  margin-right: 10px;
}

.years {
  flex: 1;
}

.website {
  color: #00b7ff;
}
