.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 50px;
  bottom: 20px;
  width: 38px;
}

.link {
  padding: 10px;
}

.icon {
  width: 18px;
  height: 18px;
}

.icon g,
.icon rect {
  fill: #A1ADBD;
  transition: all 0.3s;
}

.link:hover g,
.link:hover rect {
  fill: #EA5455;
}