.container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding-top: 20px;
  margin-right: 50px;
  flex: 0 0 30px;
}

.link,
.linkExternal {
  color: #A1ADBD;
  text-decoration: none;
  margin: 0 20px;
  font-size: 14px;
  position: relative;
}

.linkExternal {
  color: #EA5455;
}

@keyframes slide {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.link:hover:after {
  content: '';
  animation: slide 0.5s forwards;
  height: 2px;
  position: absolute;
  left: 0;
  top: 24px;
  background-color: #EA5455;
}

.link.active {
  font-weight: 700;
  color: #EA5455;
}