.container {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  flex: 0 0 60px;
}

.link {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
  position: relative;
}

.link.active {
  font-weight: 700;
}

.link.active:after {
  content: '';
  height: 5px;
  background-color: #00B7FF;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}