.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  flex: 0 0 70px;
  height: 70px;
  margin-right: 20px;
}

.name {
  font-size: 24px;
  color: #FFFFFF;
}

.details {
  display: flex;
  margin-top: 60px;
}

.screenshots {
  flex: 1.5;
}

.tech {
  flex: 1;
}

.detailTitle {
  display: block;
  font-size: 18px;
  color: #00B7FF;
  margin-bottom: 30px;
}

@media (max-width: 1000px) {
  .details {
    flex-direction: column; 
  }
}

.links {
  margin-top: 80px;
  margin-left: 10px;
}

.link {
  display: flex;
  align-items: center;
  color: #A1ADBD;
  text-decoration: none;
  margin-bottom: 20px;
}

.subtext {
  display: block;
  font-size: 12px;
  margin-top: 40px;
}

.link:hover {
  color: #EA5455;
}

.link svg g,
.link svg rect {
  fill: #A1ADBD;
}

.linkLabel {
  margin-left: 20px;
}