.preview {
  margin: 10px 30px;
  max-width: 350px;
}

.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
}

.fullscreenBackground {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
}

.fullscreenImage {
  width: 80vw;
  position: absolute;
}