.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.header {
  display: flex;
  justify-content: space-around;
}

.tab {
  display: flex;
  flex: 1;
  justify-content: center;
  cursor: pointer;
  border-right: 1px solid #A1ADBD;
  position: relative;
}

.tab:hover {
  color: #EA5455;
}

.tab:last-child {
  border-right-width: 0;
}

.tab.active {
  color: #EA5455;
}

.tab.active:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  margin: auto;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #EA5455;
  border-top-width: 9px;
}

.content {
  margin-top: 50px;
}