.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.contact {
  display: flex;
  width: 1000px;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.contact-purple {
  margin-top: 170px;
  margin-left: 0;
  flex: 1;
}

.contact-left-arrows {
  padding-right: 0;
  flex: 1;
}

.contact-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  margin: 70px;
  flex: 1;
}

.contact-input {
  width: 100%;
  font-size: 14px;
  resize: none;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid #61B842;
  font-family: 'Cabin', sans-serif;
}

.contact-input--body {
  height: 100px;
}

.contact-submit-button {
  background-color: #612990;
  color: #FFFFFF;
  padding: 10px;
  width: 130px;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}