.header-links {
  display: flex;
  padding-top: 20px;
  padding-right: 50px;
}

.header-link {
  display: flex;
  cursor: pointer;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  margin: 50px 50px 40px 50px;
}

.header-link:after {
  width: 0px;
  content: '';
  height: 5px;
  margin-top: 10px;
  transition: width 0.5s;
  background-color: #67BE61;
  -webkit-transition: width 0.5s;
}

.header-link:hover:after {
  width: 100%;
}

.header-link a {
  color: #000000;
  text-decoration: none;
}

.header-link.is-selected:after {
  width: 100%;
}