<div class="footer">
  <a href="http://behance.net/madebysid" target="_blank" class="col-xs-offset-4 col-xs-1"><img src="images/behance.svg" class="footerLink"></a>
  <a href="http://dribbble.com/madebysid" target="_blank" class="col-xs-1"><img src="images/dribbble.svg" class="footerLink"></a>
  <a href="http://github.com/madebysid" target="_blank" class="col-xs-1"><img src="images/github.svg" class="footerLink"></a>
  <a href="http://twitter.com/madebysid" target="_blank" class="col-xs-1"><img src="images/twitter.svg" class="footerLink"></a>
</div>
