<div class="header">
  <a href="#/about" class="headerLink col-xs-offset-3 col-xs-1" ng-class="{'headerActiveLink' : activeOrNot.about }">
  	about
  </a>
  <a href="#/blog" class="headerLink col-xs-1" ng-class="{'headerActiveLink' : activeOrNot.blog }">
  	blog
  </a>

  <a href="#/" class="col-xs-2 headerLogoContainer">
  	<img src="/images/logo.svg" class="headerLogo">
  </a>

  <a href="#/work" class="headerLink col-xs-1" ng-class="{'headerActiveLink' : activeOrNot.work }">
  	work
  </a>
  <a href="#/contact" class="headerLink col-xs-1" ng-class="{'headerActiveLink' : activeOrNot.contact }">
  	contact
  </a>
</div>