<div class="header">
  <a href="/" class="col-xs-offset-1 headerLogo col-xs-1"><img src="/images/logo.svg"></a>
  <a href="/about" class="headerLink col-xs-offset-2 col-xs-1" ng-class="{'headerActiveLink' : activeOrNot.about }">about</a>
  <a href="/blog" class="headerLink col-xs-1" ng-class="{'headerActiveLink' : activeOrNot.blog }">blog</a>
  <a href="/portfolio" class="headerLink col-xs-1" ng-class="{'headerActiveLink' : activeOrNot.portfolio }">portfolio</a>
  <a href="/contact" class="headerLink col-xs-1" ng-class="{'headerActiveLink' : activeOrNot.contact }">contact</a>
</div>