<div class="heroBg {{ curLoc }}">
	
</div>

<div class="col-xs-12 pageTitle">
	Home Page
</div>

<p class="content homeContent">
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	Home Content.
	<br>
	
	<br>
</p>