.about-container {
  position: relative;
  text-align: center;
  z-index: 1;

  .about {
    text-align: center;

    .about-content {
      display: inline-block;
      max-width: 1200px;

      .purple-shape-1 {
        display: inline-block;
        width: 226px;
        height: 321px;
        background-image: url('../img/purple-shape-1.svg');
        background-repeat: no-repeat;
      }

      .about-text {
        display: inline-block;
        text-align: left;

        .about-hero {
          .about-greeting {
            font-size: 60px;
          }

          .about-name {
            padding-top: 70px;
            font-size: 30px;
            max-width: 570px;
          }

          .about-subtext {
            padding-top: 10px;
            font-size: 16px;
            text-align: right;
            max-width: 570px;
          }
        }

        .about-description {
          font-size: 18px;
          max-width: 670px;
          padding-top: 100px;
        }
      }

      .green-shape-1 {
        display: inline-block;
        width: 300px;
        height: 380px;
        background-image: url('../img/green-shape-1.svg');
        background-repeat: no-repeat;
      }

      @media (max-width: 1200px) {
        .purple-shape-1 {
          display: none;
        }

        .about-text {
          padding: 0 70px;

          .about-description {
            text-align: center;
          }
        }

        .green-shape-1 {
          display: none;
        }
      }
    }

    .about-footer {
      display: inline-block;
      text-align: left;
      margin-top: 100px;
      width: 1200px;

      .about-resume {
        display: inline-block;
        font-size: 28px;
        cursor: pointer;
        animation: 1s ease 0s 1 slideInFromTop;
        z-index: 2;

        &:after {
          display: block;
          content: '';
          width: 100%;
          height: 3px;
          margin-top: 10px;
          background-color: #67BE61;
        }
      }

      .about-links {
        z-index: 2;
        display: inline-block;
        float: right;

        .icon-link {
          display: inline-block;
          background-repeat: no-repeat;
          width: 30px;
          height: 30px;
          margin: 10px 20px;
          cursor: pointer;
          animation: 1s ease 0s 1 slideInFromTop;

          &.linkedin {
            background-image: url('../img/linkedin.svg');
            animation-duration: 1s;
          }

          &.github {
            background-image: url('../img/github.svg');
            animation-duration: 1.4s;
          }

          &.dribbble {
            background-image: url('../img/dribbble.svg');
            animation-duration: 1.8s;
          }

          &.behance {
            background-image: url('../img/behance.svg');
            animation-duration: 2.2s;
          }

          &.twitter {
            background-image: url('../img/twitter.svg');
            animation-duration: 2.6s;
          }

          &.angellist {
            background-image: url('../img/angellist.svg');
            animation-duration: 3s;
          }
        }
      }

      @media (max-width: 1200px) {
        padding: 0 70px;
        width: auto;
        text-align: center;

        .about-links {
          display: block;
          float: none;
        }

        .about-resume {
          margin-top: 80px;
          /*display: block;*/
          text-align: center;
        }
      }
    }
  }
}
