.contact-container {
  z-index: 1;
  text-align: center;

  .contact {
    display: inline-block;
    max-width: 1200px;
    height: 900px;

    .green-shape-1 {
      display: inline-block;
      width: 300px;
      height: 380px;
      background-image: url('../img/green-shape-1.svg');
      background-repeat: no-repeat;
    }

    .contact-content {
      display: inline-block;
      text-align: center;
      width: 400px;
      z-index: 2;
      margin: 0 70px;

      .contact-input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: 14px;
        resize: none;
        padding: 10px 15px;
        border-radius: 3px;
        border: 1px solid #61B842;
        font-family: 'Cabin', sans-serif;

        &.contact-input--body {
          margin-top: 40px;
          height: 150px;
        }
      }

      .contact-submit-button {
        background-color: #612990;
        color: #FFFFFF;
        padding: 10px;
        width: 130px;
        font-family: 'Cabin', sans-serif;
        font-size: 14px;
        border-radius: 3px;
        outline: none;
        border: none;
        cursor: pointer;
        margin-top: 30px;
      }
    }

    .left-arrows {
      display: inline-block;
      margin-right: 172px;
    }

    @media (max-width: 1200px) {
      .green-shape-1 {
        display: none;
      }

      .contact-content {
        margin-bottom: 70px;
      }

      .left-arrows {
        display: block;
        margin-right: 0;
      }
    }
  }
}

