.home-container {
  text-align: center;

  .home {
    padding-top: 164px;
    display: inline-block;

    .right-arrows {
      display: block;
      text-align: left;
      vertical-align: top;
      animation: 1s ease 0s 1 slideInFromLeft;
    }

    .home-content {
      display: block;
      max-width: 1200px;
      margin: auto;

      .hero-name {
        display: inline-block;
        vertical-align: middle;
        animation: 1s ease 0s 1 slideInFromRight;

        .hero-name__first,
        .hero-name__last {
          font-size: 40px;
          padding: 10px 0;
          text-align: right;
          text-transform: uppercase;
        }
      }

      .parallelogram {
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        width: 500px;
        height: 500px;
      }

      .hero-code {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 30px;
        animation: 1s ease 0s 1 slideInFromLeft;

        .hero-code__code {
          display: inline-block;
          text-align: left;
        }
      }
    }

    .left-arrows {
      display: block;
      text-align: right;
      vertical-align: bottom;
      animation: 1s ease 0s 1 slideInFromRight;
    }

    @media(max-width: 1200px) {
      .right-arrows {
        display: inline-block;
      }

      .home-content {
        .hero-name {
          display: block;
          margin-top: 50px;
          margin-bottom: 50px;
        }

        .parallelogram {
          display: block;
          width: 250px;
          height: 250px;
          margin-bottom: 50px;
        }

        .hero-code {
          display: block;
          margin-bottom: 50px;
        }
      }

      .left-arrows {
        display: none;
      }
    }
  }
}
